html {
  font-size: 100%;
  box-sizing: border-box; //fixes the div to the size of the width(https://www.w3schools.com/css/css3_box-sizing.asp)
}

*,
*::before,
*::after {
  box-sizing: inherit; //for more information on after, before(https://developer.mozilla.org/en-US/docs/Web/CSS/::before)
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-inter);
  background: var(--background);
  color: var(--text-color);
  margin-height: 150vh;
}
